*{
  background-color: #F0E68C;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.name{
  border-radius: 5%;
  border-color: #fbc02d;
  border-style: solid;
  background-color: #fbc02d;
}
.profession{
  border-radius: 5%;
  border-color: #fbc02d;
  border-style: solid;
  background-color: #fbc02d;
  margin-top: 5%;
}
.bio{
  border-radius: 7%;
  border-color: #fbc02d;
  border-style: solid;
  background-color: #fbc02d;
  margin-top: 5%;
}